@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Rubik', sans-serif;
}

#container {
    width: 70%;
    height: 300px;
    background-color: rgba(14, 43, 92, 0.2);
    border-radius: 30px;
    margin: 100px auto;
}

#hero-container {
    display: table-cell;
    width: 500px;
    height: 300px;
    background-color: rgba(14, 43, 92, 0.2);
    border-radius: 30px 0 0 30px;
    vertical-align: middle;
}

#hero-img {
    display: block;
    width: 40%;
    margin: auto;
}
#hero-img-alt {
    display: none;
}

h1 {
    font-size: 25px;
    color: rgb(14, 43, 92);
    width: 600px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 50%;
}

@media screen and (max-width: 1600px) {
    #hero-container {
        width: 350px;
    }
    .input {
        width: 330px;
    }
    #submit-btn, #create-acc-link {
        width: 330px;
    }
    #forgot-password-link {
        margin-left: 350px;
    }
    h1 {
        width: 350px;
        left: 50%;
    }
}

@media screen and (max-width: 1100px) {
    #container {
        text-align: center;
        padding-top: 30px;
    }
    #hero-container {
        display: none;
    }
    #hero-img-alt {
        display: block;
        width: 400px;
        margin: 0px auto;
    }
    h1 {
        position: relative;
        display: block;
        margin: 20px auto;
        left: 0;
        top: 20px;
    }
}

@media screen and (max-width: 700px) {
    #hero-img-alt {
        width: 300px;
    }
    #container {
        width: 90%;
    }
}