@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Rubik', sans-serif;
}

#container {
    width: 70%;
    height: 700px;
    background-color: rgba(14, 43, 92, 0.2);
    border-radius: 30px;
    margin: 100px auto;
}

#hero-container {
    display: table-cell;
    width: 500px;
    height: 700px;
    background-color: rgba(14, 43, 92, 0.2);
    border-radius: 30px 0 0 30px;
    vertical-align: middle;
}

#hero-img {
    display: block;
    width: 75%;
    margin: auto;
}
#hero-img-alt {
    display: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 43, 92);
    width: 400px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 50%;
}

.input-text {
    font-size: 24px;
    color: rgba(14, 43, 92, 0.75);
    width: 300px;
    height: 40px;
    position: absolute;
    left: 50%;
}

#username-text {
    top: 389px;
}

#password-text {
    top: 489px;
}

.input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 50%;
}

#username-input {
    top: 424px;
}

#password-input {
    top: 524px;
}

#forgot-password-link {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: red;
    display: block;
    position: relative;
    text-align: center;
    margin-left: 350px;
    top: -370px;
    left: 0px;
    text-decoration: none;
}
a#forgot-password-link:hover {
    text-decoration: underline;
}

#submit-btn, #create-acc-link{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    border: none;
    position: absolute;
    left: 50%;
}
#submit-btn {
    background-color:rgb(14, 43, 92);
    left: 50%;
    top: 680px;
}
#create-acc-link {
    background-color:rgb(14, 43, 92, 0.7);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    left: 50%;
    top: 780px;
}

@media screen and (max-width: 1600px) {
    #hero-container {
        width: 350px;
    }
    .input {
        width: 330px;
    }
    #submit-btn, #create-acc-link {
        width: 330px;
    }
    #forgot-password-link {
        margin-left: 350px;
    }
}

@media screen and (max-width: 1100px) {
    #container {
        text-align: center;
        padding-top: 30px;
    }
    #hero-container {
        display: none;
    }
    #hero-img-alt {
        display: block;
        width: 400px;
        margin: 0px auto;
    }
    h1 {
        position: relative;
        display: block;
        margin: 20px auto;
        width: 150px;
        left: 0;
        top: 20px;
    }
    .input-text {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    #username-text {
        top: 100px;
    }
    #password-text {
        top: 80px;
    }
    .input {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    .not {
        
        background-color:rgb(206, 57, 12);
    }

    .ok {

        background-color:rgb(255, 255, 255);
    }

    #username-input {
        top: 95px;
        width: 70%;
    }
    #password-input {
        top: 75px;
        width: 70%;
    }
    #submit-btn {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
        top: 150px;
        width: 70%;
    }
    #create-acc-link {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
        top: 180px;
        width: 70%;
    }
    #forgot-password-link {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
        top: 75px;
    }
}

@media screen and (max-width: 700px) {
    #hero-img-alt {
        width: 300px;
    }
    #container {
        width: 90%;
    }
}