@charset "utf-8";
/* CSS Document */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#container {
    width: 70%;
    height: 700px;
    background-color: rgba(0, 0, 128, 0.2);
    border-radius: 30px;
    margin: 100px auto;
}

#hero-container {
    display: table-cell;
    width: 500px;
    height: 700px;
    background-color: rgba(0, 0, 128, 0.2);
    border-radius: 30px 0 0 30px;
    vertical-align: middle;
}

#hero-img {
    display: block;
    width: 75%;
    margin: auto;
}
#hero-img-alt {
    display: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 128);
    width: 400px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 50%;
}

.input-text {
    font-size: 24px;
    color: rgba(0, 0, 128, 0.75);
    width: 200px;
    height: 40px;
    position: absolute;
    left: 50%;
}

#username-text {
    top: 389px;
}

#password-text {
    top: 489px;
}

.input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    position: absolute;
    left: 50%;
}

#username-input {
    top: 424px;
}

#password-input {
    top: 524px;
}

#forgot-password-link {
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
    color: red;
    display: block;
    margin-left: 500px;
    position: relative;
    text-align: center;
    top: -190px;
    left: -50px;
    text-decoration: none;
}
a#forgot-password-link:hover {
    text-decoration: underline;
}

#submit-btn {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(0, 0, 128);
    color: white;
    font-size: 29px;
    border: none;
    position: absolute;
    left: 50%;
    top: 650px;
}

@media screen and (max-width: 1600px) {
    #hero-container {
        width: 350px;
    }
    .input {
        width: 300px;
    }
    #submit-btn {
        width: 300px;
    }
}

@media screen and (max-width: 1100px) {
    #container {
        text-align: center;
        padding-top: 30px;
    }
    #hero-container {
        display: none;
    }
    #hero-img-alt {
        display: block;
        width: 400px;
        margin: 0px auto;
    }
    h1 {
        position: relative;
        display: block;
        margin: 20px auto;
        width: 150px;
        left: 0;
        top: 20px;
    }
    .input-text {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    #username-text {
        top: 100px;
    }
    #password-text {
        top: 80px;
    }
    .input {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    #username-input {
        top: 95px;
        width: 70%;
    }
    #password-input {
        top: 75px;
        width: 70%;
    }
    #submit-btn {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
        top: 150px;
        width: 70%;
    }
    #forgot-password-link {
        position: relative;
        display: block;
        margin: 0 auto;
        left: 0;
        top: -20px;
    }
}

@media screen and (max-width: 700px) {
    #hero-img-alt {
        width: 300px;
    }
    #container {
        width: 90%;
    }
}